.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  margin: 20px;
  padding: 20px;
  background-color: #c7baba;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body{
  background: #f2f2f2;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: Verdana, Arial, sans-serif;

}


.navbar {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #50d2c3;
}

@media (max-width: 576px) { /* xs and sm screens */
  .col-12 {
    justify-content: center;
  }
}